body {
    margin: 0;
    padding: 0;
     background-image: linear-gradient(180deg, #15111d, #323657 121.35%);
    color: #e0e0e0;
    text-align: center;
     font-family: harry;
    letter-spacing: 2px;
}


.hero-section {
     background-image: linear-gradient(180deg, #15111d, #323657 121.35%);
    color: #f0c57c; 
    padding: 60px 20px;
}

.hero-section h1 {
    font-size: 3em;
    margin: 0;
}

.hero-section p {
    font-size: 1.2em;
    margin-top: 10px;
    color: #c9c5c0;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    justify-content: center;
}


.product-card {
    background-color: #3b3d5c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.product-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 1.8em;
    color: #f0c57c;
}

.card-content p {
    margin: 0 0 15px;
    color: #c9c5c0;
    flex-grow: 1;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.card-footer span {
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}

.buy-button {
    background-color: #922b27; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-decoration: underline;
   
}

.buy-button:hover {
    background-color: #c0392b; 
}

  @font-face {
    font-family: harry;
    src: url(./assets/font/HARRYP__.TTF);
  }
 
@media (max-width: 768px) {
    .hero-section {
        padding: 40px 15px;
    }

    .hero-section h1 {
        font-size: 2.5em;
    }

    .hero-section p {
        font-size: 1.1em;
    }

    .product-grid {
        padding: 30px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }

    .product-card img {
        height: 350px;
    }

    .card-content h3 {
        font-size: 1.5em;
    }
}


@media (max-width: 480px) {
    .hero-section {
        padding: 30px 10px;
    }
    
    .hero-section h1 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 1em;
    }
    
    .product-grid {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .product-card {
        margin-bottom: 20px;
    }

    .product-card img {
        height: 300px;
    }

    .card-content {
        padding: 15px;
    }

    .card-content h3 {
        font-size: 1.3em;
    }

    .card-content p {
        font-size: 0.9em;
    }

    .card-footer {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .buy-button {
        width: 100%;
    }
}
